<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
	<div th:fragment="footerFragment">
		<hr />
		 
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; no one 2020</p>
                </div>
            </div>
        </footer>
        
        <!-- jQuery -->
	    <script src="js/jquery.js" th:src="@{js/jquery.js}"></script>
	
	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        
	</div>
</html>